image {
    name "debian-bootc"
    url "https://github.com/tectonic-os/proving-ground"
    issues-url "https://github.com/tectonic-os/proving-ground/issues"

    base "docker.io/library/debian:forky" {
        family "debian"
        requires "bootc-base"
        signed #false
    }

    modules {
        source "tectonic-os" {
            module "deb-family/apt"
            module "deb-family/apparmor"
            module "deb-family/podman"
            module "deb-family/bootc"
            module "hardware/yubikey"
            module "updates/signature-policy"
            module "desktop/kde"
        }
    }
}
