image {
    name "proving-ground"
    url "https://github.com/tectonic-os/proving-ground"
    issues-url "https://github.com/tectonic-os/proving-ground/issues"

    base "ghcr.io/bootcrew/ubuntu-bootc:latest" {
        family "ubuntu"
        provides "initramfs-generation"
        signed #true
    }

    modules {
        module "tectonic-os/signature-policy"
        module "ubuntu-probe"
    }
}
