image {
    name "proving-ground"
    conforms "standard"
    url "https://github.com/tectonic-os/proving-ground"
    issues-url "https://github.com/tectonic-os/proving-ground/issues"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking" "initramfs-generation" "selinux-policy"
        signed #false
    }

    modules {
        source "tectonic-os" {
            module "signature-policy"
        }
    }
}
