image {
    name "proving-ground"
    url "https://github.com/tectonic-os/proving-ground"
    issues-url "https://github.com/tectonic-os/proving-ground/issues"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking" "initramfs-generation" "mac-policy"
    }

    modules {
        module "tectonic-os/backup-tools"
        module "tectonic-os/network-policy"
        module "tectonic-os/signature-policy"
    }
}
