image {
    name "proving ground debian"
    url "https://github.com/tectonic-os/proving-ground"
    issues-url "https://github.com/tectonic-os/proving-ground/issues"

    base "ghcr.io/bootcrew/debian-bootc:latest" {
        family "debian"
        provides "initramfs-generation"
        signed #true
    }

    modules {
        module "tectonic-os/signature-policy"
        module "apt-probe"
    }
}
